body{
    background-image: url("image/book2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main{
     margin: 50px;
}
.form-control{
    border: none;
    border-bottom: 2px solid rgb(255, 0, 0);
    background-color:rgb(136, 194, 196);
}
input:hover{
    background-color: rgb(113, 155, 175);
}
select:hover{
    background-color: rgb(113, 155, 175);
}
